<ul>
  <% @restaurants.each do |restaurant|%>
    <li>
    <h3><%= restaurant.name %></h3>
    <p>Address: <%= restaurant.address %></p>
    <p>Phone number: <%= restaurant.phone_number %></p>
    <p><%= restaurant.category.capitalize %></p>
    <%= link_to "Details", restaurant_path(restaurant) %>
    </li>
  <% end %>
 <%= link_to "Add new restaurant", new_restaurant_path(@restaurant) %>
</ul>
